.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.other_style{
  border: 1px solid rgb(255, 255, 255);
  
  /* 預設值 to bottom */
  background: linear-gradient(to bottom, rgb(1, 138, 15), rgb(255, 255, 255));
  
}

.card_style{
  border: 1px solid rgb(255, 255, 255);
  
  /* 預設值 to bottom */
  background: linear-gradient(to bottom, rgb(101, 151, 7), rgb(255, 255, 255));
}

.custom-toggler {
  border-color: transparent;
  float: right;
}

.collapsed {
  transform: translateX(-100%);
}

.content.collapsed {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.content {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.active {
  font-weight: bold;
}

.customTextColor{
  color: rgb(225, 209, 147);
}

